<section>
    <div class="container">
        <h1>Let's Build Your Dreams</h1>
        <form action="https://formsubmit.co/davekng0001@gmail.com" method="POST">
            <input type="hidden" name="_captcha" value="false">
            <div class="form-item">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" required>
            </div>
            <div class="form-item">
                <label for="email" >Email</label>
                <input id="email" type="email" name="email" required>
            </div>
            <div class="form-item">
                <label for="Message" >Message</label>
                <textarea  name="message" id="Message" cols="30" rows="10"></textarea>
            </div>
            <div class="btn">
                <button type="submit">Send</button>
            </div>            
        </form>
    </div>
</section>



