.container{
    /* margin-top: 100px;
    display: block;
    padding: auto;
   */
  
   
}
label,input{
    display:block;
}
label{
    display: block;
    font-size: 1em;
    margin-bottom: .1em;
}

input,textarea{
    
    font-size: 15px;
  
    padding: .8em;
    margin-bottom: .5em;
    border: .5px solid gray;
    border-radius: .3em;
    box-sizing: border-box;
}

input{
    max-height: 20px;  
    width: 50%;
}
textarea{
    max-height: 80px;
    width:80%;
}
.p-snd-msg{
    margin-bottom: .2em;
}
button{

    text-align: center;
    background: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    margin-top: 0em;
    margin-bottom: 5em;
    border-radius: 2em;
    display: inline-block;
    width: 5em;
    cursor: pointer;

}
.btn{
    text-align: center;
}


@media only screen and (min-width:650px){
    .container{
       
        /* padding-left: 100px;
        padding-right: 100px;
        margin: 0 1em 0 1em; */

        width: 600px;
        margin: 0 auto;
    }
    
}