<section>
    <div class="container">
        <h1>Lets Connect</h1>
        <form action="https://formsubmit.co/davekng0001@gmail.com" method="POST">
            <input type="hidden" name="_captcha" value="false">

            <label for="name">Name</label>
            <input id="name" type="text" name="name" required>
            <label for="email" >Email</label>
            <input id="email" type="email" name="email" required>
            <label for="Message" >Message</label>
            <textarea  name="message" id="Message" cols="30" rows="10"></textarea>
            <div class="btn">
                <button type="submit">Send</button>
            </div>            
        </form>
    </div>
</section>