<!-- about me:
    Interests, skillsets, what I enjoy

-->

<section>
    <div class="container"><h1 class="about-h1">About Me</h1>
        <div class="about-container">
            <div class="dave-img">
                <img src="/assets/dave_image.png" alt="Image of David King"class="dave-img-a">
            <p class="links">
                Keep in Touch:
                        <a href="https://www.linkedin.com/in/david-king-70379877/" target="_blank" rel="noopener noreferrer">
                            <img src="/assets/linkedin.svg" alt="Linkedin Link" class="linkedin">
                        </a> 
                        <a href="https://github.com/davekng0001" target="_blank" rel="noopener noreferrer">
                             <img src="/assets/github.png" alt="Github Link" class="github">
                        </a>
        
                    </p>
                </div>
            
           
            <div class="about-text-div">
                
        
                <p class="about-text">

                   I am an engineer, web developer, and an artist!  I like to bring all these aspects out in the work that I do.
                    
                    
                </p>
               
                <p class="about-text">
                    I will be sharing
                   more info and projects on here as time goes. I'm always open to connect via LinkedIn so feel free to reach out.
                   Stay Awesome
                </p>
        </div>
    </div>
</div>
</section>
  <h1 class="skill-h1">Skills</h1>
<section class="skills">
  
    <div class="container">
        <div class="skills-container">
            
            
            <ul class="skills-ul">
             <h1 class="skills-h1">Web Development</h1>
                <li class="skills-li">Angular</li>
                <li class="skills-li">HTML</li>
                <li class="skills-li">CSS</li>
                <li class="skills-li">Typescript</li>
                <li class="skills-li">Python</li>
            </ul>

            
            <ul class="skills-ul">
             <h1 class="skills-h1">Engineering</h1>
                <li class="skills-li">Circuitry</li>
                <li class="skills-li">Debugging</li>
                <li class="skills-li">Oscilloscope</li>
                <li class="skills-li">Circuit Simulation</li>
                
            </ul>
        </div>
    </div>
</section>