
<!-- can do for loop for all experiences -->


<div class="ed-title">
    <h1>     EXPERIENCE</h1>



    </div>





<br>
<br>

<div class="container Education">

<div class="panel panel-default">
    <div class="panel-heading"> {{fieldsupport.title}} </div>
    <div class="panel-body">
        <ul>
            <li *ngFor="let item of fieldsupport.content">
                {{item}}
            </li>

        </ul> 
  
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"> {{softwaredeveloper.title}} </div>
    <div class="panel-body">
        <ul>
            <li *ngFor="let item of fieldsupport.content">
                {{item}}
            </li>

        </ul> 
  
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"> {{frontend.title}} </div>
    <div class="panel-body">
        <ul>
            <li *ngFor="let item of fieldsupport.content">
                {{item}}
            </li>

        </ul> 
  
</div>
</div>  
 

</div>

