
<h1>PROJECTS</h1>
<br>
<br>

<div class="container page">
    <div class="row">
        <div class="col-md-12">
            <h3>Ambisonic Microphone </h3>
        </div>
    </div>
    <br>
    <div class ="row">
        <div class="col-md-6">
    
            <img class="img-responsive  photo" src="assets/ambisonicmic.png">
    
        </div>
        <div class="col-md-6">
        <br>
       
        <br>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                
                
                <h3>About Project</h3>
                <br>

             <ul>    
            <li class="text">For my senior design project I created an ambisonic microphone, which is a spatial 360 degree microphone. The audio recorded can be encoded with spatial data through an algorithm applied with software
                thanks to the the arrangement of the microphone capsules(LFU,RFD,RBU,LBD), and the microphones sensitivity pattern.
            </li>
        </ul>
        
            <h3>Future Goals For Project</h3>
            
            <ul>
                <li>I would like to go back and get the microphone working 100%, before I had issues with the microphone capsules so firstly i would like to fix this 
                issue by getting a new ones. The microphone capsules needed should have a cardiod sensitivity pattern
            
            

                </li>
                
                <li> Also would like to encase mic and components in a better structure. 

                </li>
            </ul>


            </div>
        </div>
    
    </div>
     

    <br>
    <br>


    <div class ="row">
        <div class="col-md-6">
    
            <img class="img-responsive  photo" src="assets/micampcomp.png">
    
        </div>
        <div class="col-md-6">
        <br>
        <br>
        <br>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                
                
                <h3>Recording Setup</h3>
                <br>

             <ul>    
            <li class="text"> I created a preamp circuit to amplify the the raw audio from the 4 micropone capsules. The 4 signals were sent to a mic interface which sent it to my computer where the audio was saved.
                This audio was than operated on by a matlab script to encode spatial data into it. I arranged the script to output stereo audio. 
            </li>
        </ul>
        
        

            </div>
        </div>
    
    </div>

    <br>
    <br>

    <div class ="row">
        <h3>Microphone Preamp Circuit Schematic</h3>
    <div class="col-md-12">

        <img class="img-responsive  photoamp" src="assets/preamp.png">

    </div>

    
    </div>

    
    </div>
    

