h1,h2,h3 {
    text-align: center;
}
.photo{
    margin: auto;
    width: 350px;
    height: 440px;
    object-fit: cover;

}

.photoamp{
    margin: auto;
    width: 600px;
    height: 400px;
    
}

.page{
    font-style: sans-serif;
}
li{
    font-size: 1.3em;
}