h1 {
    text-align: center;
}
.photo{
    margin: auto;
    width: 500px;
    height: 600px;
    object-fit: cover;

}

.page{
    font-style: sans-serif;
}

.aboutText{
    font-size: 1.3em;
    text-align: justify;
  text-justify: inter-word;
}