
<br>
<div class="container page">
<div class ="row">
    <div class="col-md-6">

        <img class="img-responsive  photo" src="assets/image_1549930451723.jpeg ">

    </div>
    <div class="col-md-6">
    <br>
    <br>
    <br>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <br>
            <br><br><br>
                <h1>About David King</h1>
        <p class="aboutText"> I am the man! But lets go in detail lol I enjoy software development, building hardware, and making music. Thank you for visiting my portfolio site I hope you are enjoying your day!
            
    
This is another digital home of mine, or more like a museum! Here is where I share some of my experiences and interests. My goal with this virtual showcase is to share a small glimpse of the possibilites 
that can be brought forth into physical or "virtual" space. This site was built using HTML, CSS, and Typescript using the Angular Webframework. 



        </p>
        </div>
    </div>

</div>
 

</div>
