
<br>
<div class="container page">
<div class ="row">
    <div class="col-md-6">

        <img class="img-responsive  photo" src="assets/image_1549930451723.jpeg ">

    </div>
    <div class="col-md-6">
    <br>
    <br>
    <br>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <br>
            <br><br><br>
                <h1>About David King</h1>
        <p class="aboutText">Thanks for reaching my website, I'm happy to be sharing this masterpeice that I coded myself.
    Using Angular, HTML, Typescript, and CSS. Feel free to look around and take a gander at some 
    of the fun things that I'm doing. If you see something you like feel free to reach out to. 
    Happy Weekend, ohhhhhh Yeaaaaaa!
        </p>
        </div>
    </div>

</div>
 

</div>
