
<div class="navbar">
    <div class="container">
        <div class="logo">
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="logo-a">373 Creative <span class="logo-span"> Engineering</span></a>
            <!-- <div class="links">
            <a href="https://www.linkedin.com/in/david-king-70379877/">
                <img src="/assets/linkedin.svg" alt="Linkedin Link" class="linkedin">
            </a> 
            <a href="#">
                <img src="/assets/github.png" alt="Github Link" class="github">
            </a>
        </div> -->
        </div>
        <!-- <img src="/assets/menu.svg" alt="Open Menu" class="mobile-menu"> -->
        <!-- <nav>
            <div class="menu-exit-div">
                <img src="/assets/close_blk.svg" alt="close menu" class="mobile-menu-exit">
            </div>

            <ul class="nav-links">
                <li class="menu-item-li"> <a href="#" class="current menu-item-a"> Home</a> </li>
                <li class="menu-item-li"> <a href="#" class="current menu-item-a">About Me</a> </li>
                <img>
                <img src="/assets/linkedin/svg">

            </ul>
        </nav> -->
    </div>
</div>

