


<nav class="navbar navbar-default">
    <div class="container-fluid">
<!--       
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        

   
      </div>  -->
  
      
      <div class="navbar-left" id="bs">
        <ul class="nav navbar-nav">
          
          <li ><a [routerLink]="['/experience']" routerLinkActive="router-link-active"> EXPERIENCE/EDUCATION</a></li>
          <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >PROJECTS</a></li>
          <li ><a [routerLink]="['/']" routerLinkActive="router-link-active" >HOME </a></li>
          <li> <a href="https://www.linkedin.com/in/david-king-70379877/" target="_blank" rel="noopener noreferrer"> 
              <img  src= "assets/79569.png" width="20" height="20"> </a></li> 

              <li> <a href="https://github.com/davekng0001" target="_blank" rel="noopener noreferrer"> 
                <img  src= "assets/github-logo-2.png" width="20" height="20" > </a></li>
        </ul>
          
          
        
      </div>
    </div>
  </nav>