/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    background: rgb(249, 249, 249);

    /* background-image:url('./assets/matrix_text.jpg') ; */
   /* background-color: rgb(179, 3, 3); */
}

section{
    padding: 2em 2em 2em 2em;
}