

<section class="home">
    <div class="container">
        <div class="hero-container">
            <div class="dave-img">
                <img src="/assets/dave_image_3.jpeg" alt="Image of David King"class="dave-img-a">
            
                    <p class="links">
                    Keep in Touch:
                            <a href="https://www.linkedin.com/in/david-king-70379877/" target="_blank" rel="noopener noreferrer">
                                <img src="/assets/linkedin.svg" alt="Linkedin Link" class="linkedin">
                            </a> 
                            <a href="https://github.com/davekng0001" target="_blank" rel="noopener noreferrer">
                                 <img src="/assets/github.png" alt="Github Link" class="github">
                            </a>
            
                        </p>
            
            </div>



            <div class="about-overview-container">
                <p class="welcome-msg-1">
                    Hi I'm Dave! 
                </p>
                <p class="welcome-msg-2">This is my portfolio site where I share my work. Built using Angular, HTML, CSS, and Typescript.
                    
                    
                </p>
                <p>  
                    
                </p>
                <a [routerLink]="['/about']" routerLinkActive="router-link-active"
                class="proj-btn-a"> <button class="proj-btn">About Me</button></a>

            </div>
        </div>
    </div>

   
</section>
    <h1 class="about-me-title">Try This...</h1>
    <section class="about-me-section">
<!-- 
    <p class="about-text">

       Upon graduating high school I decided to focus on building my technical
        skills and pursued an electrical engineering degree from Morgan State University. 
    </p>
        After recieving my degree I began working in the field doing web development. In one role I created 
        the front end of an internal team's operational site. The front end tech used was Angular, HTML, CSS, and Typescript.
        Another role I helped a team with their security and modernization efforts by transcribing 
        their backend Fortran code to the C language.
    <p class="about-text">
        Currently I am taking time to work with other buisnesses and people to assist 
        with their web development needs. 

        Feel free to reach out if you are interested working together.
    </p> -->

    <!-- <ul class="about-ul">
        <li class="about-li">WEB DEVELOPER</li>
        <li class="about-li">ENGINEER</li>
        <li class="about-li">ARTIST</li>
    </ul> -->

    <!-- <a [routerLink]="['/projects']" routerLinkActive="router-link-active"
    class="proj-btn-a"> <button class="proj-btn">Projects</button></a> -->
    <!-- <br> -->
    <div class="project-container, about-ul">
        <!-- <h1>Try This...</h1> -->
        <app-todo-input></app-todo-input>
    </div>
</section>

<section>

    

    
</section>
  

    <!-- <div class="h1-wrap">
        <h1 class="tech-sol-title">Technology Interests</h1>
    </div> -->
    <!-- <section class="tech-solutions-container">
      
        

        <div class="tech-sol-list">
            <ul class="tech-sol-ul">
                <li class="tech-sol-li">WEB DEVELOPER</li>
                <li class="tech-sol-li">EMBEDDED SYSTEMS</li>
                <li class="tech-sol-li">ELECTRICAL ENGINEERING</li>
                <li class="tech-sol-li">UI/UX</li>
            </ul>
        </div>


        <div class="proj-btn-div">
       
            <a [routerLink]="['/projects']" routerLinkActive="router-link-active"
         class="proj-btn-a"> <button class="proj-brn">Projects</button></a>
        
    </div>
    </section> -->
<!-- 
    <section class="creative">
        <h1>Creative Endeavors</h1>
        <ul class="crea-ul">
            <li class="crea-li">Writer</li>
            <li class="crea-li">Music Artist</li>
        </ul>
        <button>Learn More</button>
    </section>
 -->


