
<!-- Title -->

<div class="wrapper">

    <section class="home">
        <div class="container">
            <div class="title">
                <h1 class="titleh1">Web Development Consultant</h1>
            </div>

            
    <!-- hero section image and CTA -->
    <!-- CTA and Button -->
            <div class="hero-container">
             <!-- Image  -->
                <div class="dave-img">
                    <img src="/assets/ProfileImage.jpg" alt="Image of David King"class="dave-img-a">
                
                        <!-- <p class="links">
                        Keep in Touch:
                                <a href="https://www.linkedin.com/in/david-king-70379877/" target="_blank" rel="noopener noreferrer">
                                    <img src="/assets/linkedin.svg" alt="Linkedin Link" class="linkedin">
                                </a> 
                                <a href="https://github.com/davekng0001" target="_blank" rel="noopener noreferrer">
                                    <img src="/assets/github.png" alt="Github Link" class="github">
                                </a>
                
                            </p> -->
                <br>
                <br>
                </div>
                <div class="aboutwrap">
                    <div class="about-overview-container">
                        <p class="welcome-msg-1">
                            Let's Create Your Dream Site 
                        </p>
                        <p class="welcome-msg-2">Every great buisness deserves a great webpage, 
                            so let's start building yours today!
                            
                        </p>
                        <p>  
                            
                        </p>
                        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
                        class="proj-btn-a"> <button class="proj-btn">Schedule your Free Consultation</button></a>

                    </div> 
                </div>
                
               





            </div>
        </div>
    </section>
</div>

<div class="wrapper-ben">
    <div class="container-ben">
        <h1>BENEFITS</h1>
        <div class="benefits">
            <div class="search-ben ben">
            <img src="/assets/analytics.png" alt="Image" class="search-img">
            <div class="search-text">
                Increase the number of potential customers that find you by searching the web!
            </div>
            
            </div>
            <div class="beautiful-ben ben">
            <img src="/assets/community.png" alt="Image" class="beautiful-img"> 
            <div class="beautiful-text">
                Wow your potential customers with a beautiful 
                webpage so they'll enjoy browsing and learning more about your buisness! 
            </div>
            </div>
            <div class="generate-ben ben">
            <img src="/assets/money_image_ben.png" alt="" class="generate-img"> 
            <div class="generate-text">
                generate more leads, 
                sales, or clicks! By sharing your call to action in a strategic way
            </div>
            </div>
        </div>
    </div>
</div>

<section class="services">
    <div class="container-services">

        <h1 class="service-h1">Services</h1>
        
        <div class="service-item">
            <div class="serv-text">
                <h2>Strategic Web Design</h2>
                <p class="serv-p">Designing Beautiful sites that are catered to your 
                    buisness needs and are engaging for your customer!</p>
            </div>

            <img src="/assets/web_design.png" alt="Strategic Web Design Graphic" class="design-img search-img">
            
        </div>

        <div class="service-item">
            <div class="serv-text">
                <h2>Aiding in Content Creation</h2>
                <p class="serv-p">Based on your goals for the webpage, 
                    image and text content can be added to improve value and look of the site.</p>
            </div>

            <img src="/assets/content_creation.png" alt="Aiding in Content Creation Graphic" class="design-img search-img">
            
        </div>


        <div class="service-item">
            <div class="serv-text">
                <h2>Web Development</h2>
                <p class="serv-p">Creating the User Interface and the backend or behind the 
                    scenes logic, making the site both functional and easy to use.</p>
            </div>

            <img src="/assets/web_dev.png" alt="Web Development Graphic" class="design-img search-img">
            
        </div>
       
    </div>
</section>
<section>
<div class="title">
        <h1 class="titleh1">About Me</h1>
    </div>
<div class="hero-container about-hero">
    
    <!-- Image  -->
       <div class="dave-img">
           <img src="/assets/ProfileImage.jpg" alt="Image of David King"class="dave-img-a">
       
               <p class="links">
               Keep in Touch:
                       <a href="https://www.linkedin.com/in/david-king-70379877/" target="_blank" rel="noopener noreferrer">
                           <img src="/assets/linkedin.svg" alt="Linkedin Link" class="linkedin">
                       </a> 
                       <a href="https://github.com/davekng0001" target="_blank" rel="noopener noreferrer">
                           <img src="/assets/github.png" alt="Github Link" class="github">
                       </a>
       
                   </p>
            <br>
            <br>
       </div>
       <div class="aboutwrap">
           <div class="about-overview-container">
               <p class="welcome-msg-1">
                   Let's Create Your Dream Site 
               </p>
               <p class="welcome-msg-2">I am a webdeveloper with a background in electrical engineering and government consulting. I enjoy creating webpages for others so I've decided to 
                   start sharing this service with the public! Me and my team work with you to determine your buisness needs and your branding. With that knowledge we 
                   build the beautiful website you want with the functionality you need. Having a webpage is a must 
                   have for any buisness, so lets create something together.
                   
               </p>
            
<!--          
            <p class="about-text">
            
                Feel free to reach out if you are interested working together.
            </p> -->
               
           </div> 
       </div>
   </div>
</section>